.table td,
.table th {
  vertical-align: inherit !important;
  min-width: 220px;
}

.header-actions {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input {
  width: 100%;
  max-width: calc(200px - 20px);
  border: 1px solid #ddd;
  padding: 3px 10px;
}
