<div class="panel-body">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th><button class="semibold-btn" (click)="createItem()">Add New Row</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; index as i;" class="hover-highlight">
        <td class="benchmark_name">
          <span *ngIf="enableEditIndex != i">{{item.firstName ? item.firstName : '-'}}</span>
          <input type="text" placeholder="Firstname" [(ngModel)]="itemChange.firstName"
            *ngIf="enableEdit && enableEditIndex == i" />
        </td>
        <td class="benchmark_name">
          <span *ngIf="enableEditIndex != i">{{item.lastName ? item.lastName : '-'}}</span>
          <input type="text" placeholder="Lastname" [(ngModel)]="itemChange.lastName"
            *ngIf="enableEdit && enableEditIndex == i" />
        </td>
        <td>
          <span *ngIf="enableEditIndex != i">{{item.email ? item.email : '-'}}</span>
          <input type="text" placeholder="Email" [(ngModel)]="itemChange.email"
            *ngIf="enableEdit && enableEditIndex == i" />
        </td>
        <td align="right">
          <button *ngIf="enableEdit && enableEditIndex == i" (click)="saveItem(i, item)">
            <fa-icon [icon]="['fas', 'save']"></fa-icon>
          </button>
          <button *ngIf="enableEdit && enableEditIndex == i" (click)="cancel(i)">
            <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
          </button>
          <button *ngIf="i != enableEditIndex || enableEditIndex == null" (click)="editItem(i, item)">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button *ngIf="i != enableEditIndex || enableEditIndex == null" (click)="deleteItem(i)">
            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
          </button>
        </td>
      </tr>

      <tr *ngIf="items.length === 0" class="hover-highlight">
        <td colspan="4" align="center">
          <span>Items not found</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
