<div class="panel-body">
  <div class="header-actions">
    <button class="btn btn-primary" (click)="createItem()">Add New Row</button>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; index as i;" class="hover-highlight">
        <td class="benchmark_name">
          <span *ngIf="enableEditIndex != i">{{item.firstName ? item.firstName : '-'}}</span>
          <input type="text" placeholder="First Name" [(ngModel)]="itemChange.firstName"
            *ngIf="enableEdit && enableEditIndex == i" />
        </td>
        <td class="benchmark_name">
          <span *ngIf="enableEditIndex != i">{{item.lastName ? item.lastName : '-'}}</span>
          <input type="text" placeholder="Last Name" [(ngModel)]="itemChange.lastName"
            *ngIf="enableEdit && enableEditIndex == i" />
        </td>
        <td>
          <span *ngIf="enableEditIndex != i">{{item.email ? item.email : '-'}}</span>
          <input type="text" placeholder="Email" [(ngModel)]="itemChange.email"
            *ngIf="enableEdit && enableEditIndex == i" />
        </td>
        <td>
          <button class="btn btn-light mr-4" *ngIf="enableEdit && enableEditIndex == i" (click)="cancel(i)">
            Cancel
          </button>
          <button class="btn btn-primary" *ngIf="enableEdit && enableEditIndex == i" (click)="saveItem(i, item)">
            Save
          </button>
          <button class="btn btn-warning mr-4" *ngIf="i != enableEditIndex || enableEditIndex == null"
            (click)="editItem(i, item)">
            Edit
          </button>
          <button class="btn btn-danger" *ngIf="i != enableEditIndex || enableEditIndex == null"
            (click)="deleteItem(i)">
            Delete
          </button>
        </td>
      </tr>

      <tr *ngIf="items.length === 0" class="hover-highlight">
        <td colspan="4" align="center">
          <span>Items not found</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
